.store-product-cont {
  height: 100%;
}
.store-product-cont a {
  text-decoration: none;
}

.store-product-cont:hover .card-title {
  color: var(--bs-link-color);
}

.store-product-cont .card-title {
  font-size: 1.5rem;
  color: var(--main-blue);
  font-weight: 700;
  transition: all 0.15s ease-in-out;
}

.store-product-cont .card-price {
  font-size: 2rem;
}