.cont-historial li {
    list-style-type: none;
}

.cont-historial .cont-compra-fecha {

    background-color: #ebebeb;
    border-radius: 0.5rem;
}

.cont-historial .cont-compra-fecha>p {
    padding: 0.5rem 2.5rem;
    border-bottom: 1px solid lightgray;
    margin: 0;
    /* font-size: 1.25rem; */
    font-weight: 700;
}

.cont-historial .cont-compra {
    padding: 1rem 0.5rem;
}

.cont-historial .cont-compra .item-compra {
    display: flex;
    flex-direction: row;
}

.cont-historial .cont-compra .item-compra .cont-resumen {
    display: flex;
    flex-direction: column;
    /* flex-grow: auto; */
    max-width: 30%;
    width: 100%;
    padding: 0 2rem;
}

.cont-historial .cont-compra .item-compra .cont-resumen p {
    margin-bottom: 0rem;
}

.cont-historial .cont-compra .item-compra .cont-articulos {
    flex-grow: 1;
    max-width: 70%;
}

.cont-historial .cont-compra .item-compra .cont-articulos ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
}

.cont-historial .cont-compra .item-compra .cont-articulos li {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: white;
}

.cont-historial .cont-compra .item-compra .cont-articulos li h3 {
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .cont-historial .cont-compra .item-compra {
        /* display: flex; */
        flex-direction: column;
    }
    .cont-historial .cont-compra .item-compra .cont-resumen {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .cont-historial .cont-compra .item-compra .cont-articulos {
        max-width: 100%;
        padding: 0 2rem;
    }
}