.card {
    position: relative;

    .user-card {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        p-image {
            border-radius: 50%;
            overflow: hidden;

            img {
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        .user-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    .edit-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        overflow: visible;

        .p-button-icon {
            font-size: 1.5rem;
        }
    }

}