.cont-perfil ul {
    padding: 0;
    margin: 1rem 0;
}
.cont-perfil ul li {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    list-style-type: none;
}