.cont-admin-cursos ul {
    padding: 0;
    margin: 1rem 0;
}
.cont-admin-cursos ul li {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    list-style-type: none;
}
.listado-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
}