.navbar-base {
  display: flex;
  color: grey;
  box-shadow: 0 8px 20px -15px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 2rem;
  background: white;
}
.brand {
  text-decoration: none;
  color: inherit;
}
.brand:hover {
  color: #4361ee;
}
.navbar-collapse {
  justify-content: flex-end;
}
.nav-menu {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
.navbar-base .navbar {
  cursor: default;
}
.nav-menu a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
.nav-menu  a:hover {
  color: #4361ee;
}
.logout {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  background: none;
  border: none;
  padding: 0;
}
.logout:hover {
  color: #4361ee;
}

@media screen and (max-width: 991.90px) {
  .nav-menu {
    margin-top: 1rem;
    gap: 1rem;
  }
}