.register-cont form {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.register-cont .submit-btn {
  margin-top: 2rem;
  background: #4361ee;
  color: white;
  border: 1px solid #4361ee;
  padding: 0.5rem 0;
  transition: all ease 0.3s;
}

.register-cont .submit-btn:hover {
  margin-top: 2rem;
  background: white;
  color: #4361ee;
  padding: 0.5rem 0;
}

.register-cont input, .register-cont select {
  margin-bottom: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: 1px solid grey;
}