.cont-curso {
    margin-bottom: 2rem;
    width: 50%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.02),
    0px 0px 5.3px rgba(0, 0, 0, 0.028), 0px 0px 10px rgba(0, 0, 0, 0.035),
    0px 0px 17.9px rgba(0, 0, 0, 0.042), 0px 0px 33.4px rgba(0, 0, 0, 0.05),
    0px 0px 80px rgba(0, 0, 0, 0.07);
}
.cont-curso .swiper-slide{ 

    max-height: 400px;
}
.cont-curso .swiper-slide div{ 
    height: 100%;
}
.cont-curso h2{ 
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.cont-curso h3{ 
    font-size: 1rem;
}
.cont-curso .cont-turno {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid lightgray;
}
.cont-curso .cont-turno ul {
    align-self: stretch;
    height: 100%;
}
.cont-curso .cont-turno ul li {
    padding: 0;
    margin: 0;
    border: none;
}
.cont-curso .cont-turno ul li p{
    margin-bottom: 0.25rem;
}

/*Esto es de inscripciones.jsx*/
/*TODO mover esto al css de inscripciones y que ese archivo lo tome*/

.alumnos-lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.alumno-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.alumno-item:last-child {
    border-bottom: none;
}

